    <fieldset>
      <legend>使用记录(<span class="dialog-customer-aka"></span>)：</legend>
    	  <ul id="fund-usage" class="list-style">
					<li style="width:95px; padding:10px;">创建时间</li>
					<li style="width:95px; padding:10px;">转账记录</li>
					<li style="width:95px; padding:10px;">使用金额</li>
					<li style="width:95px; padding:10px;">创建人</li>
					<li style="width:95px; padding:20px;">操作</li>
				</ul>
				<span id="fund-loading" style="margin-left:300px;">加载中.....</span>
				<div id="fundusages" class="list-style"></div>
				<div id="fundu-page" class="page-nav">	</div>
				<legend>
					<span style="margin-left:400px;">
					已付款:&nbsp;<span id="coverd_amount"></span>&nbsp;&nbsp;
					未付款:&nbsp;<span id="uncoverd_amount"></span>
					</span>
				</legend>
    </fieldset>
    
    <fieldset>
      <legend>转账记录(<span class="dialog-customer-aka"></span>)：</legend>
       <ul class="list-style">
       		<li style="padding:0px;">#</li>
					<li style="width:95px; padding:10px;">创建时间</li>
					<li style="width:95px; padding:10px;">已用金额</li>
					<li style="width:95px; padding:10px;">剩余金额</li>
					<li style="width:95px; padding:10px;">创建人</li>
					<li style="width:95px; padding:10px;">扣款金额</li>
					<li style="width:95px; padding:20px;">操作</li>
			 </ul>
			 <span id="tran-loading" style="margin-left:300px;">加载中.....</span>
			<div id="transcations" class="list-style"></div>
			<div id="tran-page" class="page-nav">	</div>
    </fieldset>
